.discounts_products {
    max-width: 1024px;
   
    margin: 0 auto;
    background: url('../../assets/image/main_page.svg');
    height: 27.5rem;
    transform:scaleX(-1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

   

}

.container {
    max-width: calc(100% - 5rem);
    margin: 0 auto;
}

.presentation {
    text-align: left;
    transform:scaleX(-1);
}

.section_text {
    color:  #FFF;
    font-family: Montserrat;
    font-size: 4.55rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    
   
}

.section_btn {
    width: 10.625rem;
    height: 2.62rem;
    background: #393;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
   
    
    
    
}

